<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'main.html'%}
    {% block content %}
    <h1>this is home page</h1>
    <a href="{%url 'create_room'%}">Create room</a>
    
    <h3>{{rooms.host.username}}</h3>
    {%for room in rooms %}
    <a href="{%url 'update_room' room.id%}">Edit</a>
    <a href="{%url 'delete_room' room.id%}">Delete</a>
    <span>@{{room.host.username}}</span>
    <h3>{{room.id}} --<a href="room/{{room.id}}/">{{room.name}}</a></h3>
    {{room.topic.name}}
    <br>
    {% endfor %}
    {% endblock %}
</body>
</html>